/* CSS */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #35495e;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.title{
    
    width: 50%;
    height: auto;
    color: #35495e;
    background-color: #42b883;
    font-weight: bold;
    margin-bottom: 10px;
}
.container {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column; 
        align-items: flex-start; 
        justify-content: center;
        align-items: center;
    }
}
.rightContainer{
    margin-left: 1vw;
    display: flex;
    flex-direction: column;
}

form {
    width: 70%;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #ff7e67;
    border: 2px solid #fff;
    border-radius: 10px;
    
}

form label,
form input,
form select {
    display: block;
    margin-bottom: 10px;
}

form input[type="submit"] {
    background: #42b883;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}


.donors-panel {
    
    border: 1px solid #ccc;
    overflow-y: scroll;
    border-radius: 5px;
    background: #35495e;
}

#donors-list {
    list-style-type: decimal;
    padding-left: 20px;
    color: #ccc;
}

#donors-list li {
    color: #ff7e67;
    margin-bottom: 10px;
}


.hpcontainer {
    width: 40%; /* Sayfanın yarısını kaplayacak */
    height: 40%;
    margin: 0 auto; /* Otomatik olarak ortalanacak */
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box; 
    padding: 20px; /* Kenar boşlukları */
    background-color: gray;
    box-shadow: 1px 7px 6px rgba(198, 163, 163, 0.1); /* Hafif bir gölge efekti */
}

.c1,
.c2 {
    text-align: center;
    margin: 10px;
    flex: 1; 
}

.c1 button,
.c2 button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #ff7e67;
    color:#35495e;
    border: none;
    border-radius: 4px;
    width: 100%; 
}

.c1 button:hover,
.c2 button:hover {
    background-color:#ea593f;
    color: #ccc;
}

.delete-button {
    background-color: #42b883; /* Kırmızı arka plan */
    color: #ffffff; /* Beyaz yazı rengi */
    border: none; /* Kenarlık olmadan */
    padding: 8px 16px; /* İç boşluk */
    border-radius: 4px; /* Köşeleri yuvarlat */
    cursor: pointer; /* İmleci bir el işareti yap */
    margin-left: 8px; /* Sol kenardan biraz uzaklık */
}

#backbtn{
    
    background-color: #42b883; /* Kırmızı arka plan */
    color: #ffffff; /* Beyaz yazı rengi */
    border: none; /* Kenarlık olmadan */
    padding: 8px 16px; /* İç boşluk */
    border-radius: 4px; /* Köşeleri yuvarlat */
    cursor: pointer; /* İmleci bir el işareti yap */
    margin-left: 8px; /* Sol kenardan biraz uzaklık */
}

@media screen and (max-width: 768px) {
    .hpcontainer {
        width: 90%; /* Küçük ekranlarda daha fazla genişlik */
    }
}

/*show requests*/


.page-title {
    text-align: center;
}

.requests-list {

    flex-direction: column;
    list-style: none;
    padding: 0;
}

.request-item {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #ea593f;
}

.request-item strong {
    font-weight: bold;
    margin-right: 5px;
}

.request-item strong + strong {
    margin-left: 15px;
}

.num-of-units {
    color: #35495e;
}
